/*!
 * Start Bootstrap - Business Casual v5.0.0 (https://startbootstrap.com/template-overviews/business-casual)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-business-casual/blob/master/LICENSE)
 */

body {
  font-family:  Helvetica ;
  background-color: white;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
      text-align: justify;
}
th {
  font-weight: normal;

}

h1,
h2,
h3,
h4,
h5,
h6 {
      font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}

p {
  line-height: 1.75;
}

.containn {
  margin:auto;
  width:70vw;
  height:100%;
  background-color: #FFFFFF;
}
.contain_other_page {
  margin: 0% 2.5vw 0% 2.5vw;
  padding-top: 5%;
  padding-bottom: 15%;
}

.contain_other_page h2 {
  background-color: #566457;
  padding:10px;
  padding-left: 2%;
  font-size:1.5rem;
  font-weight: 600;
  line-height: 2rem;
  font-family: Helvetica ;
  color:#303030;
}

.contain_other_page p{
  margin-top: 2%;
  padding-left: 5%;
  padding-right: 3%;
  font-family: Helvetica ;
  font-size:1.2rem;
  letter-spacing:1px;
}


@media (min-width: 1490px) {
  .container-in {
    margin:auto;
    width:70vw;
    min-height:69.7vh;
    background-color: white;
    padding-bottom: 5%;
    padding-top: 2%;
  }
  .nav_container {
    width:70vw;
    height:3.2vh;
    margin: auto;
  }
  .containn {
    margin:auto;
    width:70vw;
    height:100%;
    background-color: #FFFFFF;
  }
}

@media (min-width: 1130px) and (max-width: 1489px) {
  .container-in {
    margin:auto;
    width:80vw;
    min-height:69.7vh;
    background-color: white;
    padding-bottom: 5%;
    padding-top: 2%;
  }
  .nav_container {
    width:80vw;
    margin: auto;
  }
  .containn {
    margin:auto;
    background-color: #FFFFFF;
    width:80vw;
    height:100%;
  }
}
@media (min-width: 986px) and (max-width: 1129px) {
  .container-in {
    margin:auto;
    width:90vw;
    min-height:69.7vh;
    background-color: white;
    padding-bottom: 5%;
    padding-top: 2%;
  }
  .nav_container {
    width:90vw;
    margin: auto;
  }
  .containn {
    margin:auto;
    width:90vw;
    height:100%;
    background-color: #FFFFFF;

  }
}


.containn img{
  position:relative;
  display: block;
  float: left;
  left:4vw;
  top:25px;
  height:150px;
}
.containn a{
  font-size: 1.5rem;
  color: #121E36;
  font-weight: 800;
  font-family: Helvetica ;
}
.containn a:hover{
  text-decoration: none;
}

.container-inin {
  width: 95%;
  background-color: #EDEDED;
  display:block;
  margin: auto;
    padding-bottom: 0%;
}
.header_word {
  position: relative;
  display: block;
  float: left;
  left:5.8vw;
  top:60px;
  font-size: 1.5rem;
  color: #121E36;
  font-weight: 800;
  font-family: Helvetica ;
  text-align: left;
}

.search_bar {
  position: absolute;
  left:55%;
  top:10%;
  width:30%;
  height:4vh;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.text-faded {
  color: rgba(255, 255, 255, 0.3);
}

.site-heading {
  text-transform: uppercase;
  line-height: 1;
  font-family: 'Raleway';
}

.site-heading .site-heading-upper {
  display: block;
  font-size: 2rem;
  font-weight: 800;
}

.site-heading .site-heading-lower {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3rem;
  color:#262626;
}

#header_hrtype {
  border:#303030 1px solid;
  width:50%;
}

.page-section {
  margin-top: 0rem;
  margin-bottom: 5rem;
}

.section-heading {
  text-transform: uppercase;
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 2.4rem;
  color: #789400;
  font-weight: 800;
  font-family: Helvetica ;
  text-align: center;
}

.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
}

.bg-faded {
  background-color: #cccccc;
}

#mainNav {
  padding-top: 0.6vh !important;
  padding-bottom: 0.6vh !important;
  background-color: #EDEDED	;
  font-family: Helvetica ;
}

.navbar-collapse {
  align-items: right;
  height:3.4vh;
  line-height: 2.2vh;

}
#mainNav .navbar-brand {
  color: #FFFFFF;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: #FFFFFF;
  text-align: center;
  font-weight: 200;
  font-size: 1.6vh;
  font-family: Helvetica ;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 2.2vh;
  height: 100%;
}
.nav-link a{
  font-size: 1.6vh;
  line-height: 2.2vh;
}

#mainNav .navbar-nav .nav-item.active .nav-link {
  color: #121E36;
  font-weight: 400;
  background-color: #FFFFFF;
  height:100%;
}

@media (max-width: 992px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 1.5rem;
    transition: ease-in-out;
    padding-left: 0!important;
    padding-right: 0!important;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #303030;
    font-weight: 600;
  }
  #mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: #789400;
  }
}


.btn-xl {
  font-weight: 700;
  font-size: 0.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.intro {
  position: relative;
}

@media (min-width: 992px) {
  .intro .intro-img {
    width: 75%;
    display:block;
    margin:auto;
  }
  .intro .intro-text {
    left: 0;
    width: 60%;
    margin-top: 3rem;
    position: absolute;
  }
  .intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
}

@media (min-width: 1200px) {
  .intro .intro-text {
    width: 45%;
  }
}

.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url(../img/suddendeath.jpg);
  background-repeat: no-repeat, repeat;
  background-size: contain;
  background-position: center;
  background-color:black;
}

.cta .cta-inner {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: #cccccc;
}
/* #789400 */
.cta .cta-inner:before {
  border-radius: 0.5rem;
  content: '';
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.85);
}

@media (min-width:481px) and (max-width:728px) {
/*481-728*/
  .cta {
    background-image: none;
    background-color: #789400;
  }
  .section-heading .section-heading-upper{
    font-size: #303030 ;
  }
}

@media (max-width:481px){
/*481以下*/
  .cta {
    background-image: none;
    background-color: #789400;
  }
}

@media (min-width: 992px) {
  .about-heading .about-heading-img {
    position: relative;
    z-index: 0;
  }
  .about-heading .about-heading-content {
    margin-top: -5rem;
    position: relative;
    z-index: 1;
  }
}

@media (min-width: 992px) {
  .product-item .product-item-title {
    position: relative;
    z-index: 1;
    margin-bottom: -3rem;
  }
  .product-item .product-item-img {
    position: relative;
    z-index: 0;
    max-width: 60vw;
  }
  .product-item .product-item-description {
    position: relative;
    z-index: 1;
    margin-top: -3rem;
    max-width: 50vw;
  }
}

.list-hours {
  font-size: 0.9rem;
}

.list-hours .list-hours-item {
  border-bottom: 1px solid rgba(230, 167, 86, 0.5);
  padding-bottom: .25rem;
  margin-bottom: 1rem;
  font-style: italic;
}

.list-hours .list-hours-item.today {
  font-weight: bold;
  color: #e6a756;
}

@media (min-width: 992px) {
  .list-hours {
    width: 50%;
    font-size: 1.1rem;
  }
}

.address strong {
  font-size: 1.2rem;
}

.footer {
  background-color: #303030;
  padding-top: 1rem!important;
  padding-bottom: 0.1rem!important;
}

.text-primary {
  color: #A80000 !important;
}

.bg-primary {
  background-color: #e6a756 !important;
}

.btn {
  -webkit-box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
  box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
}

.btn-primary {
  background-color: #e6a756;
  border-color: #e6a756;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #df902a;
  border-color: #df902a;
}

.font-weight-light {
  font-weight: 100 !important;
}

.mb-0 {
  font-family: Helvetica ;
  letter-spacing: 1px;
  font-size:1.2rem;

}
.rightmenu {
  margin:10% 5% 5% 5%;
}

.rightmenu h1 {
  background-color:#566457;
  padding:10px;
  font-size:1.2rem;
  line-height: 1.3rem;
  font-family: Helvetica ;
  color:#FFFFFF;
}

.rightmenu a{
  color:#121E36;

}

.rightmenu img{
  width: 100%;
  height: 100%;
  object-fit:cover;
}
.rightmenu  span{
  font-family: Helvetica ;
}
.rightmenu_quick {
  margin-top: 5%;
  font-family: Helvetica ;
  letter-spacing:1px;
  margin-left: 10px;
}
.version p{
  margin-top: 0;
  line-height: 24px;;
}

.righttop{
  margin-bottom:3vh;
  height:200px;
}
.righttop img{
  width:45%;
  height:auto;
}
.sum{
  font-size: 1.4rem;
  font-weight: 600;
  display:inline-block;
  color:#121E36;
  line-height: 3.6vh;
  text-decoration: underline;

}

.blockss {
  height:auto;
  width:90%;
  display: block;
  float: left;
  margin: 0% 5% 5% 5%;
}

.blockss h2 {
  font-family: Helvetica ;
  font-size: 2rem;
  font-weight: 600;
}
.blockss p {
  font-family: Helvetica ;
  letter-spacing:1px;
}
.blockss table {
  display: block;
  margin: auto;
  width: 50vw;
  font-weight: 650;
  text-align:center;
}
.blockss table tr td{
  padding-top:10px;
  padding-bottom: 10px;
}
.blockss table p{
  margin-bottom: 0;
}
.blockss img {
  display: block;
  margin: auto;
  width:80%;
}

.footer_word {
  font-size: 1.2vh;
  color: #808080;
  font-family: Helvetica ;
}
header{
  background-color:#EDEDED;
  height:200px;
}
.menu{
  height:500px;
  background:grey;
  float: left;
  width: 200px;
}
.content{
  height: 500px;
  background: pink;
}
footer{
  height: 100px;
  background: #303030;

}
svg {
  display: block;
  margin: auto;
}

.node circle {
  fill: #BCED91;
  stroke: #458B00;
  stroke-width: 2.5px;
}

.node {
  font-family: verdana, sans-serif;
  font-size: 11px;
  font-weight: bold;
  fill: #6B4226;
}

.link {
  fill: none;
  stroke: #BFBFBF;
  stroke-width: 2px;
}
