.contact{
  font-size: 18px;
  line-height:3vh;
  min-height: 84.1vh;
}
.contact i{
  padding-right: 10px;
}
.contact hr {
  width: 80%;
  margin-left: 2px;
  margin-bottom: 3vh;

}
.contact_area_box {
  height:fit-content;
  width:80%;



}
.contact_area_title {
  border-left: 8px solid #4d6989;
  padding-left: 20px;
  line-height: 4vh;

}
.contact_area_info {


}
.contact_area_info ul {
  list-style: none;

}
.contact_area_info li {


}
