.knowledge{
  margin-top: 10vh;
}
.knowledge h6{
  font-weight: 550;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: justify;
}
.knowledge ul{
  list-style: none;
}
.knowledge li{
  font-weight: bold;
  font-size: 1.4rem;
  margin-left: 1vw;
}
.knowledge li::before{
  content: "::";
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.knowledge_block{
  width:60vw;
  height: auto;
  background-color: #EAE2B7;
  margin-bottom:3vh;
  padding:26px;
  border-left: 8px solid #FCBF49;
}
.btn {
  text-align:right;

}

#kg_bk3 {
  margin-bottom:0;

}
