.rf-form_list_block4{
    width: 100%;
    height: auto;
    color:#FFFFFF;
    text-align: center;
}
.rf-form_list_block4 ul{
    list-style-type:none;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-bottom: #566457 0px solid;
}
.rf-form_list_block4 li{
    display:inline-block;
    position: relative;
    float:left;
    height:100%;
    padding-left: 5px;
    padding-right: 5px;
}
.rf-item4{
    width:100%;
    height:100%;
    cursor: pointer;
    background-color:  #8AA18B;
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    color: #FFFFFF;
    line-height: 3vh;
    letter-spacing: 0.5px;
    border-radius: 10px;

}
.rf-inactive4{
    line-height: 3vh;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 0.5px;
    width:100%;
    height:100%;
    padding-left: 10px;
    padding-right: 10px;
    border:  3px  #8AA18B solid;
    border-radius: 10px;

}
.rf-active4{
    width:100%;
    height:100%;
    line-height: 3vh;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 0.5px;
    color:#FFFFFF;
    background-color:#566457;
    transition: all .2s ease-in-out;
    padding-left: 10px;
    padding-right: 10px;
    border:  3px  #8AA18B solid;
    border-radius: 10px;

}
.container_program_4{
    width: 100%;
    min-height: 40vh;
    overflow-x:hidden;
    padding:2%;
    color:#303030 !important;
    display: block;
}
.container_program_4 h3 {
    font-size: 1.2rem;
    line-height: 4vh;
}

.rf-form_list_block5{
    width: 100%;
    height: auto;
    color:#FFFFFF;
    text-align: center;
}
.rf-form_list_block5 ul{
    list-style-type:none;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-bottom: #566457 0px solid;
}
.rf-form_list_block5 li{
    display:inline-block;
    position: relative;
    float:left;
    height:100%;
    padding-left: 5px;
    padding-right: 5px;
}
.rf-item5{
    width:100%;
    height:100%;
    cursor: pointer;
    background-color:  #8AA18B;
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    color: #FFFFFF;
    line-height: 3vh;
    letter-spacing: 0.5px;
    border-radius: 10px;

}
.rf-inactive5{
    line-height: 3vh;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 0.5px;
    width:100%;
    height:100%;
    padding-left: 10px;
    padding-right: 10px;
    border:  3px  #8AA18B solid;
    border-radius: 10px;

}
.rf-active5{
    width:100%;
    height:100%;
    line-height: 3vh;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 0.5px;
    color:#FFFFFF;
    background-color:#566457;
    transition: all .2s ease-in-out;
    padding-left: 10px;
    padding-right: 10px;
    border:  3px  #8AA18B solid;
    border-radius: 10px;

}
.container_program_5{
    width: 100%;
    min-height: 40vh;
    overflow-x:hidden;
    padding:2%;
    color:#303030 !important;
    display: block;
}
.container_program_5 h3 {
    font-size: 1.2rem;
    line-height: 4vh;
}


.rf-form_list_block6{
    width: 100%;
    height: auto;
    color:#FFFFFF;
    text-align: center;
}
.rf-form_list_block6 ul{
    list-style-type:none;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-bottom: #566457 0px solid;
}
.rf-form_list_block6 li{
    display:inline-block;
    position: relative;
    float:left;
    height:100%;
    padding-left: 5px;
    padding-right: 5px;
}
.rf-item6{
    width:100%;
    height:100%;
    cursor: pointer;
    background-color:  #8AA18B;
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    color: #FFFFFF;
    line-height: 3vh;
    letter-spacing: 0.5px;
    border-radius: 10px;
}
.rf-inactive6{
    line-height: 3vh;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 0.5px;
    width:100%;
    height:100%;
    padding-left: 10px;
    padding-right: 10px;
    border:  3px  #8AA18B solid;
    border-radius: 10px;

}
.rf-active6{
    width:100%;
    height:100%;
    line-height: 3vh;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 0.5px;
    color:#FFFFFF;
    background-color:#566457;
    transition: all .2s ease-in-out;
    padding-left: 10px;
    padding-right: 10px;
    border:  3px  #8AA18B solid;
    border-radius: 10px;

}
.container_program_6{
    width: 100%;
    min-height: 40vh;
    overflow-x:hidden;
    padding:2%;
    color:#303030 !important;
    display: block;

}
.container_program_6 h3 {
    font-size: 1.2rem;
    line-height: 4vh;
}

.rf-form_list_block8{
    width: 100%;
    height: auto;
    color:#FFFFFF;
    text-align: center;
}
.rf-form_list_block8 ul{
    list-style-type:none;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-bottom: #566457 0px solid;
}
.rf-form_list_block8 li{
    display:inline-block;
    position: relative;
    float:left;
    height:100%;
    padding-left: 5px;
    padding-right: 5px;
}
.rf-item8{
    width:100%;
    height:100%;
    cursor: pointer;
    background-color:  #8AA18B;
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    color: #FFFFFF;
    line-height: 3vh;
    letter-spacing: 0.5px;
    border-radius: 10px;
}
.rf-inactive8{
    line-height: 3vh;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 0.5px;
    width:100%;
    height:100%;
    padding-left: 10px;
    padding-right: 10px;
    border:  3px  #8AA18B solid;
    border-radius: 10px;

}
.rf-active8{
    width:100%;
    height:100%;
    line-height: 3vh;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 0.5px;
    color:#FFFFFF;
    background-color:#566457;
    transition: all .2s ease-in-out;
    padding-left: 10px;
    padding-right: 10px;
    border:  3px  #8AA18B solid;
    border-radius: 10px;

}
.container_program_8{
    width: 100%;
    min-height: 40vh;
    overflow-x:hidden;
    padding-top: 5%;
    color:#303030 !important;
    display: block;

}
.container_program_8 h3 {
    font-size: 1.2rem;
    line-height: 4vh;
}
