.statistics{
  margin-top: 10vh;
  min-height: 84.1vh;
}
.statisitcs img{


}
.circleplot {
  margin-bottom: 5vh;
  width: 100%;
}
.circleplot img {
  width: 60%;
  display: block;
  margin: auto;

}
.barplot {
  margin-bottom: 5vh;
  width: 100%;
}
.barplot img {

  width: 80%;
  display: block;
  margin: auto;

}
