.rf-form_list_block{
    width: 100%;
    height: auto;
/*   -ms-writing-mode: lr-tb ;
 *       -webkit-writing-mode: horizontal-tb ;
 *           writing-mode: horizontal-tb ;
 *           */
    color:#FFFFFF;
    text-align: center;
}
.rf-form_list_block ul{
    list-style-type:none;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-bottom: #566457 4px solid;
}
.rf-form_list_block li{
    display:inline-block;
    position: relative;
    float:left;
    height:100%;
    padding-left: 5px;
    padding-right: 5px;
}
.rf-item{
    width:100%;
    height:100%;
    cursor: pointer;
    background-color:  #8AA18B;
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    color: #FFFFFF;
    line-height: 4vh;
    letter-spacing: 0.5px;
}
.rf-inactive{
    line-height: 4vh;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 0.5px;
    width:100%;
    height:100%;
    padding-left: 10px;
    padding-right: 10px;
    border-top:  3px  #8AA18B solid;
    border-left: 3px  #8AA18B solid;
    border-right: 3px  #8AA18B solid;
}
.rf-active{
    width:100%;
    height:100%;
    line-height: 4vh;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 0.5px;
    color:#FFFFFF;
    background-color:#566457;
    transition: all .2s ease-in-out;
    padding-left: 10px;
    padding-right: 10px;
    border-top:  3px  #8AA18B solid;
    border-left: 3px  #8AA18B solid;
    border-right: 3px  #8AA18B solid;

}
.container_program{
    width: 100%;
    min-height: 54vh;
    background-color:white;
    overflow-x:hidden;
    padding:2%;
    color:#303030 !important;
}
.container_program h3 {
    font-size: 1.2rem;
    line-height: 4vh;
}

.container_it{
    margin-bottom: 2.5vh;

}
.container_it table{
    width: 100%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.container_it td{
    vertical-align: middle;
    height:19vh;
    width: 100%;

}
.container_it ul {
    position: relative;
    float: left;
    list-style-type:none;
    width: 42.25vw;
    border-bottom:0px;
    margin-bottom:0px;
    margin-top:3vh;
}
.container_it li {
    display:inline-block;
    position: relative;
    float:left;
    height:3.5vh;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 1vh;


}
#variant_info table{
  width:100%;

}
#variant_info tr td{
  height: 4vh;

}

.profile_img{
    position: relative;
    float: left;
    width:300px;
    height:auto;
    margin-left: 1.5vw;
}
.profile_img img{
  width:14vw;
  height:auto;
}
.container_small {
    margin-bottom: 1.5%;
    padding:2%;
    text-align:right;
    background-color: #EDEDED;
}
.container_small p{
    font-family: Helvetica;
    font-size: 1rem;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 1%;
    color:#303030;
    text-align: left;
}
.container_small a {
    color:#121E36;
    font-size: 1rem;
     text-decoration:underline;
}
.container_small h2 {
    color:#FFFFFF;

}
#container_hr{
    width:80%;
    size:4px;

}
.table a {
  color:#4d6989;
  text-decoration: underline;

}

/*case_*/
.rf-form_list_block_right{
  width: 100%;
    height: 100%;
    text-align: center;
}

.rf-item_right{
    width:100%;
    height:100%;
    cursor: pointer;
    background-color:  #CAB44F;
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 3.5vh;
    letter-spacing: 0.5px;
    border-radius:10px;
}
.rf-inactive_right{
    line-height: 3.5vh;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    width:100%;
    height:100%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius:10px;
}
.rf-active_right{
    width:100%;
    height:100%;
    line-height: 3.5vh;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    color:#FFFFFF;
    background-color:#817333;
    transition: all .2s ease-in-out;
    padding-left: 10px;
    padding-right: 10px;
    border-radius:10px;

}
.container_program_right{
    width: 100%;
    min-height:60vh;
    background-color:white;
    overflow-x:hidden;
    padding:2%;
    color:#303030 !important;
}

table.show_{
    display: block;
    width:100%;
}
tr td.show_{
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
  font-size: 1.2rem;
    height:8vh;
    width: 50%;
    text-align: center;
}
.td_img{
    width: 60%;


}

.ad_search{
    width:100%;
    position: relative;
    display: block;
    float: left;


}
.wrappp{
    width:100%;
    height: 10vh;
    border-left: 10px solid #FFFFFF;
    padding-left: 3vh;
    margin-bottom: 2vh;


}
.pretty_select{
  /*移除箭頭樣式*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*改變右邊箭頭樣式*/
  background: url("../img/arrow.jpg") right;
  background-repeat: no-repeat;
  background-size: contain;
  border:0px;
  width:39.5vw;
  height:3vh;
  padding-left:1.5vw;
  background-color:#EDEDED	;
  color:gray;
}
.pretty-select:focus{
  box-shadow: 0 0 5px 2px #467BF4;
}
.submit {
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
  background-color: #566457;
  padding:5px;

  color:white;
  width:5vw;
  display: block;
  margin-left: 36vw;
  margin-bottom: 2vh;
}
.td_title {
  text-align: left;
  background-color: #ABC3BF;
  font-weight:bold;
}
.td_left{
  text-align: left;

}
#vis.vega-embed {
  display:block;
  margin: auto;
}
canvas.marks{
  width:50vw;
  height:50vw;
  display: block;
  margin: auto;
  /*border: 2px solid rgba(0,0,0,.1);*/
}
.vega-bindings{
  display:none;
}
.vega-embed summary {
  display:none!important;

}
.select_section{
  margin:2vh;

}
.select_section h2{
  margin-bottom: 0;
  background-color: #CAB44F;
}
.select_section h3{
  margin-bottom: 0;


}
.checkboxcss{
  display: inline-block;
  padding-right:1vw;

}
.st_plot_area{
  margin-bottom: 5vh;
  display: block;
}

/*lightbox*/
@import "compass/css3";

.ad_search img {
  bottom:0; left:0; top:0; right:0;
  margin:auto;
  max-width:100%;
  transition:0.5s all;
  z-index:10;
}

.underlay{
  bottom:0; left:0; top:0; right:0;
  margin:auto;
  height:0; width:0;
  background:#333;
  opacity:0;
  transition:1s all;
}

.ad_search img:hover{
  transform:scale(1.5);
  & + .underlay{
    height:60vh; width:80vh;
    opacity:.8;
    z-index:100;
  }
}
