.variants{
  width:94vw;
  margin:15.6vh 3vw 0vw 3vw;
  min-height:79.4vh;
}
.variants h3 {
  font-size: 1.4rem;
  margin-bottom: 0.6vh;
}
.variants th {
  padding : 6px;
  line-height: 1.2;
}
.variants td {
  background-color: #F5F5F5;
  padding-left: 6px;

}
.variants th td {
   width: 5vw!important;

}
table .table .dataTable .no-footer #example {
  overflow: scroll;

}
.ad {
  margin-bottom: 5vh;

}
button {
  background-color: inherit;
  color:#D62828;
  border: 0;
}
button:hover {
  text-decoration: underline;
  color:grey;

}
.button_like{
  padding-left: 0.45vw;

}
#loading{
  z-index: 1;
  padding: 10px 10px 5px;
  background: rgb(255, 0, 136);
  left: 0;
  top: 0;
  color: #fff;
  position: fixed;
  width: 150px;
  height: 30px;
  text-align: center;
  box-shadow: 2px 2px 10px;
  border-radius: 5px;

}

.variants_ad{
  width:84vw;
  margin:15.6vh 8vw 0vw 8vw;
  min-height:79.4vh;

}
.variants_ad h3 {
  font-size: 1.4rem;
  margin-bottom: 0.6vh;
}
.variants_ad th {
  padding : 6px;
  line-height: 1.2;
}
.variants_ad td {
  background-color: #F5F5F5;
  padding-left: 6px;

}
.variants_ad th td {
   width: 5vw;

}
